* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.primary-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 20px;
}
.primary-description {
  font-size: 18px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 20px;
}
/* Banner Area Styles */
.banner {
  background: url(images/charity.jpg),
    linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner-contents {
  padding: 100px 300px;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
}
.banner-description {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}
.btn-primary {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 16px 20px;
  background: #ff5959;
  border: 0;
  border-radius: 5px;
}

/* Donate Today Section */
.amount-section {
  padding: 130px 300px;
}
.amount-title {
  text-align: center;
}
.amount {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
.amount-box {
  background: #FAFAFA;
  border-radius: 5px;
  padding: 40px 25px;
}
.amount-box p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #707070;
}

.amount-box-active {
  border-radius: 5px;
  padding: 40px 25px;
  border: 2px solid #ff5959;
}
.amount-box-active p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ff5959;
}
.custom-amount {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.custom-amount input {
  border: 0;
  display: block;
  font-size: 18px;
  margin-bottom: 40px;
  width: 785px;
  line-height: 28px;
  border-bottom: 2px solid #dadada;
  color: #b3b3b3;
  text-align: center;
}

.custom-amount input:focus {
  border: none;
  border-bottom: 2px solid #dadada;
  outline: none;
}
